<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <%= render "users/banner" %>
    <div class="home-div">

      <div class="rn-bta">
        <%= @reflection.reflection_book.title %><br>
        <%= @reflection.reflection_book.author %>
      </div>
        <br>
        <br>
      <%= render "form" %>

        </div>

      </body>
    </html>
