<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/newreflection.css">
  </head>
  <body>
    <%= render "users/banner" %>
    <div class="home-div">

    <div class="rn-bta">
      <%= @book.title %><br>
      <%= @book.author %>
    </div>
      <br>
      <br>
      <div class="nr-form">
        <%= render "form" %>
      </div>
        </div>

      </body>
    </html>
