<div class="header">
  <div class="banner-logo"><img src="/assets/Reflections_Logo.png"></div>
  <div class="header-right">
    <%= link_to "HOME", users_path %>
    <%= link_to "ADD BOOK", new_book_path %>
    <%= link_to "PROFILE", user_path(current_user.id) %>
    <%= link_to "ACCOUNT SETTINGS", account_settings_path(current_user.id) %>
  </div>
</div>
