<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/edit-user.css">
  </head>
  <body>
    <%= render "banner" %>
      <div class="edit-errors">
        <%= render partial: "layouts/form_errors", locals: { object: @user } %>
      </div>

       <div class="edit-section-div">
        <br>
        </br>
         <br>
         </br>
       <div class="eyd-title"><h1>EDIT YOUR DETAILS</h1></div>
         <br>
        <br>
       </br>
     <div class="fields">

      <%= render partial: "layouts/user_form", locals: { object: @user, text: "Update Account" } %>

        </div>
      </div>

      </body>
    </html>
