<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/signup.css">
  </head>
  <body>
    <style>
     body {
       background-image: url("/assets/Background.png");
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
      }
    </style>

    <div class="signup-errors">
      <%= render partial: "layouts/form_errors", locals: { object: @user } %>
    </div>

    <div class="login-div">
      <a href="/">
        <img class="logo" border="0"  src="/assets/Reflections_Logo.png">
      </a>
    <div class="login-title">CREATE YOUR ACCOUNT</div>
    <div class="fields">

      <%= render partial: "layouts/user_form", locals: { object: @user, text: "Create Account" } %>

      <div class="link">
         Already have a Reflection account? <%= link_to "Login", login_path%>
      </div>
      </div>

   </div>
  </body>
</html>
