<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <%= render "users/banner" %>
    
    <div class="home-div">

      <div class="ayb">EDIT YOUR BOOK</div>

      <div class="nb-errors">
        <%= render partial: "layouts/form_errors", locals: { object: @book } %>
      </div>


      <%= render partial: "layouts/book_form", locals: { text: "Update Book" } %>

        </div>

      </body>
    </html>
