* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background: #ecf0f3;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  overflow: hidden;
}
.header {
  overflow: hidden;
  background-color: #ecf0f3;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 13px 13px 20px #cbced1
}
.header a {
  float: left;
  display: block;
  color: #cf5d16;
  text-align: center;
  padding: 10px;
  margin-right: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: center;
  background-size: 100px;
  float: left;
}
.header a:hover {
  background-color: #cf5d16;
  color: #ecf0f3;
  size: 30px 10px;
}
.header-right {
  float: right;
  margin-top: 25px;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
img {
  width: 100%;
  max-width: 300px;
}
.scrolling-wrapper {
  display: flex;
  overflow-x: scroll;
  .card-home {
    display: inline-block;
  }
}
.card-home:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card-home {
  grid-row: auto;
  height: 300px;
  width: 300px;
  border-radius: 18px;
  background: #ecf0f3;
  box-shadow: 10px 10px 15px #cbced1,
             -10px -10px 15px #ffffff;;
  font-family: 'Lato', sans-serif;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 50px;
}
.index-page {
  margin-left: 20px;
}
.text {
  padding-top: 90px;
  font-size-adjust: auto;
  color: #cf5d16;
}
a {
  text-decoration: none;
}
.card-home p {
  color: #555;
}
