* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background: #ecf0f3;
}
.logo {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.login-div {
  width: 430px;
  height: 600px;
  padding: 20px 20px 20px 20px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1,
             -13px -13px 20px #ffffff;
}
.title {
  text-align: center;
  font-size: 15px;
  letter-spacing: 3px;
  position: relative;
}
.fields {
  width: 100%;
  padding: 10px 5px 5px 5px;
  position: relative;
}
.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}
.username, .email, .password {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}
.fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}
.signin-button {
  outline: none;
  border :none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background: #cf5d16;
  box-shadow: 3px 3px 8px #b1b1b1,
             -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.signin-button:hover {
  background: #fd711a
}
.signin-button:active {
  background: #cf5d16
}
.facebook-button {
  outline: none;
  border :none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background: #3b5998;
  box-shadow: 3px 3px 8px #b1b1b1,
             -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.facebook-button:hover {
  background: #ccdbe0
}
.facebook-button:active {
  background: #cf5d16
}
.link {
  padding-top: 15px;
  text-align: center;
}
.link a {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}
