* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background: #ecf0f3;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.profile-name {
  position: relative;
  top: -300px;
}
.header {
  overflow: hidden;
  background-color: #ecf0f3;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 13px 13px 20px #cbced1
}
.header a {
  float: left;
  display: block;
  color: #cf5d16;
  text-align: center;
  padding: 10px;
  margin-right: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.banner-logo img {
  display: inline-block;
  width: 180px;
  margin: center;
  float: left;
  position: relative;
  left: -20px;
}
.header a:hover {
  background-color: #cf5d16;
  color: #ecf0f3;
  size: 30px 10px;
}
.header-right {
  float: right;
  margin-top: 25px;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/* img {
  width: 100%;
  max-width: 100px;
} */
.userbooks {
 vertical-align: middle;
 line-height: 1.1em;
 display: inline-block;
 float: left;
 width: 700px;
 margin: 0 auto;
}
.reflections {
  margin-left: 200px;
}
.profile-container {
  display: flex;
}
.profile-un {
  position: absolute;
  top: 700px;
  font-size: 50px;
}
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 13px 13px 20px #cbced1,
             -13px -13px 20px #ffffff;;
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 20px;
}
.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
img {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card-text {
  grid-area: text;
  /* margin: 25px; */
  background-color: #ecf0f3;
  margin-top: 120px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.card-text .date {
  color: #cf5d16;
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  font-size-adjust: auto;
}
.card-stats {
  grid-area: stats;
  display: grid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #cf5d16;
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding:10px;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
